{% extends "base.html" %}
{% block css %} 
<link rel='stylesheet' type='text/css' href='static/css/listing.css'>

{% endblock%}
{% block main %}
<h1 class="page-header">Profiles</h1>
{% with users = users %}
  {% if users %}
    <div class='list'>
      <ul>
      {% for u in users %}
          <li><a href = "{{ url_for('userprofile',userid = u.id) }}"><img src = "{{ url_for('static', filename='uploads/'+u.image ) }}" height = '150px'> {{ u.first_name }} {{ u.last_name }}</a></li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}
{% endblock %}
